.idea/
.well-known/
/bitrix/php_interface/dbconn.php
/bitrix/.settings.php
/bitrix/activities/
/bitrix/managed_cache/
/bitrix/cache/
/bitrix/backup/
/bitrix/catalog_export/
/bitrix/tmp/
/bitrix/stack_cache/
/bitrix/updates/
/bitrix/blocks
/bitrix/catalog_export
/bitrix/html_pages
/bitrix/image_uploader
/bitrix/sounds/
/upload/
/import/
/gitpull/
/bitrix/*.log
/bitrix/*.log.old
/bitrix/templates/netwit/cache
test*.*
*.swp
*.log
*.sql
*.txt
*.xml
*.dt
*.log
*.txt
*.tpl
*tar.gz